body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(190, 159, 92);
    padding-left: 5%;
    padding-right: 5%;
}

nav{
    background-color: rgb(157, 131, 75);
    padding: 12px;
    border-radius: 5px;
}

table{
    background-color: rgb(157, 131, 75);
    border-radius: 5px;
    margin:5px;
}

td{
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
}
button{
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
}
button:hover{
    background-color: rgb(25, 183, 4);
    cursor: pointer;/*Got to have the little hand*/
}